<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <CodeCoverage>
    <ModulePaths>
      <Include>
        <ModulePath>.*[/\\]Cove\.dll$</ModulePath>
        <ModulePath>.*[/\\]Cove\.Core\.dll$</ModulePath>
        <ModulePath>.*[/\\]Cove\.Data\.dll$</ModulePath>
        <ModulePath>.*[/\\]Cove\.Plugins\.dll$</ModulePath>
        <ModulePath>.*[/\\]Cove\.Sdk\.dll$</ModulePath>
      </Include>
    </ModulePaths>
    <Attributes>
      <Exclude>
        <Attribute>^System\.Diagnostics\.CodeAnalysis\.ExcludeFromCodeCoverageAttribute$</Attribute>
        <Attribute>^System\.CodeDom\.Compiler\.GeneratedCodeAttribute$</Attribute>
      </Exclude>
    </Attributes>
    <EnableStaticManagedInstrumentation>True</EnableStaticManagedInstrumentation>
    <EnableDynamicManagedInstrumentation>True</EnableDynamicManagedInstrumentation>
  </CodeCoverage>
</Configuration>
